h1.uniflow__footer__text {
  /*
  display: flex;
  position: relative;
  width: 100%;
  

  background: rgba(54, 101, 137, 0.75);*/
  font-family: 'Work Sans';
  color: #fff! important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: rgba(54, 101, 137, 0.75);
}

@media screen and (max-width: 748px) {
  h1.uniflow__footer__text{
    font-size: 16px;
    margin-top: 20px;
  }
}